.container {
    padding: 0 2rem;
    background-image: url(/gold.gif);
    background-size: contain;
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.title a {
    color: white;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 2rem;
    line-height: 1.15;
    font-size: 4rem;
    font-family: cursive;
}

.title,
.description {
    text-align: center;
}

.description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1400px;
}

.illustration {
    padding-top: 3rem;
    border-radius: 15px;
    margin-right: 3rem;
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    max-height: 300px;
    overflow: scroll;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
    font-family: fantasy;
}

.card:hover,
.card:focus,
.card:active {
    color: black;
    border-color: hsl(212, 100%, 48%);
    background-image: url(/giphy-cloud.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    opacity: 0.85;
    overflow: scroll;
    font-family: fantasy;
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    font-family: cursive;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}

.publisher {
    font-family: monospace;
    color: white;
    font-size: 1.5rem;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}